@using Client.Models

@model List<Client.Models.TaskModulVM>
@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fontfaces CSS-->
    <link href="~/cooladmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Data Tables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <!-- Vendor CSS-->
    <link href="~/cooladmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sorttest.css">
</head>

<body>
    <!-- Masthead -->
    <header class="masthead">
        <div></div>
        <div class="logo trello">
            <h1><i class="fab fa-trello logo-icon" aria-hidden="true"></i>MII</h1>
        </div>
        <div></div>

    </header>
    <!-- modal -->
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h1>
                            There are three species of zebras: the plains zebra, the mountain zebra and the Grévy's zebra. The plains zebra and the mountain
                            zebra belong to the subgenus Hippotigris, but Grévy's zebra is the sole species of subgenus Dolichohippus. The latter
                            resembles an ass, to which it is closely related, while the former two are more horse-like. All three belong to the
                            genus Equus, along with other living equids.
                        </h1>
                    </div>
            </div>
        </div>
    </div>


    <!-- End of masthead -->
    <!-- Board info bar -->
    <section class="board-info-bar">
        <div class="board-controls trello">
            @if (User.IsInRole("SA"))
            {
            <h2>developer</h2>
            }
            <h2>@Model[0].Name</h2>
            <i class="far fa-star" aria-hidden="true"></i>
        </div>
    </section>
    <!-- End of board info bar -->
    <!-- Lists container -->
    <section class="lists-container">
        <div class="list trello">
            <h3 class="list-title">Tasks To-Do</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">To-do &#x1F4BB;</h1>
            </div>
            <ul id="Todo" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.ToDo)
                    {
                        <li onclick="showmodal()" id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

        <div class="list">
            <h3 class="list-title">Tasks Design</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Design &#x1F3A8;</h1>
            </div>
            <ul id="Design" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.Design)
                    {
                        <li id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

        <div class="list">
            <h3 class="list-title">Doing Tasks </h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Doing &#x1F4BB;</h1>
            </div>
            <ul id="Doing" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.Doing)
                    {
                        <li id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

        <div class="list">
            <h3 class="list-title">Code Review Task</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Code Review &#x1F575;</h1>
            </div>
            <ul id="CodeReview" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.CodeReview)
                    {
                        <li id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

        <div class="list">
            <h3 class="list-title">Testing</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Testing &#x1F3ED;</h1>
            </div>
            <ul id="Testing" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.Testing)
                    {
                        <li id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

        <div class="list">
            <h3 class="list-title">Done</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Done &#x2714; &#x1F60a;</h1>
            </div>
            <ul id="Done" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.Done)
                    {
                        <li id="@task.TaskId">@task.TaskName</li>
                    }
                }
            </ul>
        </div>

    </section>
    <!-- End of lists container -->
    <!-- Jquery JS-->
    <script src="~/cooladmin/vendor/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/cooladmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- DataTable JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <!-- Vendor JS -->
    <script src="~/cooladmin/vendor/slick/slick.min.js">
    </script>
    <script src="~/cooladmin/vendor/wow/wow.min.js"></script>
    <script src="~/cooladmin/vendor/animsition/animsition.min.js"></script>
    <script src="~/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/cooladmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/cooladmin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/cooladmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/cooladmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/cooladmin/vendor/select2/select2.min.js">
    </script>

    <script src="~/js/sorttest.js"></script>
</body>

</html>





