@using Client.Models

@model List<Client.Models.TaskModulVM>
@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fontfaces CSS-->
    <link href="~/cooladmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="~/build/jquery.datetimepicker.min.css" />

    <!-- Data Tables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <!-- Vendor CSS-->
    <link href="~/cooladmin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sorttest.css">
</head>

<body>
    <!-- Masthead -->

    <header class="masthead">

        <div class="boards-menu">
            <button id="KanbanView" class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>Boards</button>
            <button id="GanttView" class="boards-btn btn"><i class="fas fa-chart-bar boards-btn-icon"></i>Gantt Chart</button>
        </div>
        <div class="logo trello">
            <h1>MII</h1>
        </div>
        <div></div>

    </header>
    <!-- modal -->
    <div class="modal fade" id="mediumModal" tabindex="-1" role="dialog" aria-labelledby="mediumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header bg-white m-3">
                    <span class="pr-1">in list </span><span id="statusTask" class="font-italic"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <h3 aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body bg-white m-3">
                    <div class="row">
                        <div class="col-8 shadow bg-white">
                            <div class="card-body d-flex">
                                <div class="pr-5">
                                    <p style="font-size: 14px" class="font-weight-bold mb-0">DueDate</p>
                                    <p style="font-size: 14px" id="datemodal">01/07/2021 - 30/07/2021</p>
                                </div>
                                <div id="membermodal">
                                    <p style="font-size: 14px" class="font-weight-bold mb-0">Member</p>
                                    <div class="d-flex">
                                        <p style="font-size: 14px">Umar Faiz Ubaidillah</p>
                                        <p class="btn btn-danger ml-3">X</p>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <h3 class="pb-2"><i class="fa fa-align-left pr-2"></i> Description</h3>
                                <h4 class="pl-5 add-card-btn btn" id="descriptionTask">Detail Task</h4>
                                <div class="collapse hide pl-5" id="collapseDescription">
                                    <form id="insertDescription">
                                        <input name="TaskId" type="text" id="TaskId" hidden />
                                        <textarea name="Description" style="font-size: 14px" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Description Task"></textarea>
                                        <button onclick="insertDescription()" style="font-size: 14px" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseExample">
                                            Save
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="card-body">
                                <h3 class="pb-2"><i class="fa fa-th-list pr-2"></i> Activity</h3>
                                <ul id="LogHistory">
                                </ul>
                            </div>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of masthead -->
    <!-- Board info bar -->
    <section class="board-info-bar">
        <div class="board-controls trello">

            <h2>@Model[0].Name</h2>
            <i class="far fa-star" aria-hidden="true"></i>
        </div>
        <div id="NIK" hidden>@Model[0].NIK</div>
        <div id="ProjectId" hidden>@Model[0].ProjectId</div>
    </section>
    <!-- End of board info bar -->
    <!-- Lists container -->
    <section id="ListKanban" class="lists-container">
        <div class="list trello overflow-auto">
            <h3 class="list-title">Tasks To-Do</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">To-do &#x1F4BB;</h1>
            </div>
            <ul id="Todo" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.ToDo)
                    {
                        <li onclick="showmodal(this.id)" id="@task.TaskId">
                            <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                            <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                            <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                        </li>
                    }
                }
            </ul>
        </div>

        @if (User.IsInRole("SA") || User.IsInRole("BA"))
        {
            <div class="list overflow-auto">
                <h3 class="list-title">Tasks Design</h3>
                <div class="kartu kartu-project">
                    <h1 class="text-center">Design &#x1F3A8;</h1>
                </div>
                <ul id="Design" class="list-items sortable_list connectedSortable">
                    @foreach (var task in Model)
                    {
                        @if (task.Status == Status.Design)
                        {
                            <li onclick="showmodal(this.id)" id="@task.TaskId">
                                <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                                <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                                <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        @if (User.IsInRole("SA") || User.IsInRole("BA") || User.IsInRole("Developer"))
        {
            <div class="list overflow-auto">
                <h3 class="list-title">Doing Tasks </h3>
                <div class="kartu kartu-project">
                    <h1 class="text-center">Doing &#x1F4BB;</h1>
                </div>
                <ul id="Doing" class="list-items sortable_list connectedSortable">
                    @foreach (var task in Model)
                    {
                        @if (task.Status == Status.Doing)
                        {
                            <li onclick="showmodal(this.id)" id="@task.TaskId">
                                <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                                <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                                <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        @if (User.IsInRole("Developer"))
        {
            <div class="list overflow-auto">
                <h3 class="list-title">Code Review Task</h3>
                <div class="kartu kartu-project">
                    <h1 class="text-center">Code Review &#x1F575;</h1>
                </div>
                <ul id="CodeReview" class="list-items sortable_list connectedSortable">
                    @foreach (var task in Model)
                    {
                        @if (task.Status == Status.CodeReview)
                        {
                            <li onclick="showmodal(this.id)" id="@task.TaskId">
                                <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                                <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                                <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        @if (User.IsInRole("Developer") || User.IsInRole("QA"))
        {
            <div class="list overflow-auto">
                <h3 class="list-title">Testing</h3>
                <div class="kartu kartu-project">
                    <h1 class="text-center">Testing &#x1F3ED;</h1>
                </div>
                <ul id="Testing" class="list-items sortable_list connectedSortable">
                    @foreach (var task in Model)
                    {
                        @if (task.Status == Status.Testing)
                        {
                            <li onclick="showmodal(this.id)" id="@task.TaskId">
                                <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                                <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                                <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

        <div class="list overflow-auto">
            <h3 class="list-title">Done</h3>
            <div class="kartu kartu-project">
                <h1 class="text-center">Done &#x2714; &#x1F60a;</h1>
            </div>
            <ul id="Done" class="list-items sortable_list connectedSortable">
                @foreach (var task in Model)
                {
                    @if (task.Status == Status.Done)
                    {
                        <li onclick="showmodal(this.id)" id="@task.TaskId">
                            <span class="text-truncate">@task.ModulName - @task.TaskName</span>
                            <p><i class="fa fa-tasks"></i> @task.TaskName</p>
                            <span class="date"><i class="fa fa-hourglass-half" aria-hidden="true"></i> @task.StartDate.ToShortDateString() - @task.Date.ToShortDateString() </span>
                        </li>
                    }
                }
            </ul>
        </div>

    </section>
    <!-- End of lists container -->
    <!-- Gantt TimeLine -->
    <div class="m-5 p-3 bg-white">
        <div id="ganttchart"></div>
    </div>
    <!-- END Gantt TimeLine -->
    <!-- Jquery JS-->
    <script src="~/cooladmin/vendor/jquery-3.2.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <!-- Bootstrap JS-->
    <script src="~/cooladmin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/cooladmin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- DataTable JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <!-- Vendor JS -->
    <script src="~/cooladmin/vendor/slick/slick.min.js"></script>
    <script src="~/cooladmin/vendor/wow/wow.min.js"></script>
    <script src="~/cooladmin/vendor/animsition/animsition.min.js"></script>
    <script src="~/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/cooladmin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/cooladmin/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/cooladmin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/cooladmin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/cooladmin/vendor/select2/select2.min.js"></script>
    <!-- Momen JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- DateTime-->
    <script src="~/build/jquery.datetimepicker.full.min.js"></script>
    <!-- Apex Chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <!-- Google Chart -->
    @*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@

    <script src="~/js/sorttesttask.js"></script>
</body>

</html>





